<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Filmorum</title>
    <link rel="stylesheet" type="text/css" href="css/details.css">
</head>
<body>
    <div id="principaldiv">
        <span id="nome">{{film.name}}</span>
        <span id="avaliation">{{avgOfReviews}}</span>
        <span id="numberReviews">reviews: {{numberOfReviews}} <button ng-if="logged"><a href="#!/newReview/{{filmId}}">new review</a></button></span>
    </div>
    <table style="width:100%">
        <tr>
            <th>name</th>
            <th>analysis</th>
            <th>avaliation</th>
        </tr>
        <tr align="center" ng-repeat="review in reviews">
            <td>{{review.userId}}</td>
            <td>{{review.comment}}</td>
            <td>{{review.avaliation}}</td>
        </tr>
    </table>
</body>
</html>