<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Filmorum</title>
    <link rel="stylesheet" type="text/css" href="css/details.css">
</head>
<body>
    <div id="principaldiv">
        <span id="nome">{{film.name}}</span>
        <span id="avaliation">avaliacao geral</span>
        <span id="numberReviews">numero</span>
    </div>
    <table style="width:100%">
        <tr>
            <th>name</th>
            <th>analysis</th>
            <th>avaliation</th>
        </tr>
        <tr align="center">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
</body>
</html>