<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Filmorum</title>
    <link rel="stylesheet" type="text/css" href="css/login.css">
</head>
<body>
    <form name="loginForm">
        <div id="principaldiv">
            <div>
                <h2 id="title">login</h2>
            </div>
            <div>
                <input type="text" placeholder="nickname" name="nickname" ng-model="nickname" ng-required="true">
            </div>
            <div>
                <input type="password" placeholder="password" name="password" ng-model="password" ng-required="true">
            </div>
            <div ng-show="loginForm.nickname.$invalid && loginForm.nickname.$dirty">
                <p class="message">Por favor, preencha o login!</p>
            </div>
            <div ng-show="loginForm.password.$invalid && loginForm.password.$dirty">
                <p class="message">Por favor, preencha a senha!</p>
            </div>
            <div id="divbutton">
                <button ng-click="login(nickname, password)" ng-disabled="loginForm.$invalid">SUBMIT</button>
            </div>
        </div>
    </form>
</body>
</html>