<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Filmorum</title>
    <link rel="stylesheet" type="text/css" href="css/newFilm.css">
</head>
<body>
    <form>
        <div id="principaldiv">
            <div>
                <h2>new movie</h2>
            </div>
            <div>
                <input type="text" placeholder="name" ng-model="film.name">
            </div>
            <div>
                <input type="text" placeholder="description" ng-model="film.description">
            </div>
            <button ng-click="newFilm(film)">SUBMIT</button>
        </div>
    </form>
</body>
</html>