#principaldiv {
    border: black 2px solid;
    height: 3vh;
}

#nome {
    font-size: 3vw;
    float: left;
}

#avaliation {
    font-size: 2vw;
    float: left;
}

#numberReviews {
    float: right;
}