#principaldiv {
    border: black 2px solid;
    height: 7vh;
}

#nome {
    font-size: 3vw;
    float: left;
}

#avaliation {
    font-size: 2vw;
    float: left;
}

#numberReviews {
    margin-top: 2.5vh;
    float: right;
}