body {
    margin: 0px;
    padding: 0px;
}
#principal {
    background-color: lightgray;
}
#title {
    margin-left: 0.5vw;
    font-size: 4vh;
    font-family: Consolas;
}
.usercommands {
    float: right;
    margin-right: 0.3vw;
    margin-top: 0.8vh;
    font-family: Consolas;
}

button{
    background-color: lightgray;
}