body {
    background-color: #e5e5e5;
}

input {
    margin-bottom: 5px;
    height: 40px;
    width: 20vw;
}

#title {
    font-family: Consolas;
}

#principaldiv {
    margin-left: 40vw;
    margin-top: 30vh;
}

#labeldiv {
    font-size: 100vw;
}