<!DOCTYPE html>
<html ng-app="filmorum">
<head>
    <title>Filmorum</title>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.js"></script>
    <script>
        angular.module("filmorum", []);
        angular.module("filmorum").controller("filmorumCtrl", function($scope, $http) {
            $scope.app = "Filmorum";
            $scope.film = {
                name: "Exterminador do Futuro", description: "Bom"
            };

            var carregarFilmes = function(){
                $http.post("http://localhost:8080/filmorum/api/film", $scope.film);
            };

            carregarFilmes();
        });
    </script>
</head>
<body ng-controller="filmorumCtrl">
    <h1 ng-bind="app"></h1>
    <table>
        <tr>
            <th>Nome</th>
            <th>Descrição</th>
        </tr>
        <tr ng-repeat="film in films">
            <td>{{ film.nome }}</td>
            <td>{{ film.descricao }}</td>
        </tr>
    </table>
    <form>
        <input type="text" ng-model="name">
    </form>
    <h1>You entered: {{name}}</h1>
</body>
</html>